<h1 id="tableLabel">Search Results</h1>
<div class="form-group">
  <input #query type="text" (keyup.enter)="searchFunction(query.value)" />
  <button class="btn btn-primary"  (click)="searchFunction(query.value)">Search</button>
</div>
<h2 *ngIf="!forecasts"><em>No Results</em></h2>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Name</th>
      <th>Avatar</th>
      <th>Description</th>
      <th>BookMark</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.repoName }}</td>
      <td><img style="max-width: 25%" src="{{ forecast.avatar }}"></td>
      <td>{{ forecast.description }}</td>
      <td><button class="btn btn-primary" (click)="bookmarkFunction()">Bookmark</button></td>
    </tr>
  </tbody>
</table>
