<h1 id="tableLabel">Search Results</h1>
<div class="form-group">
  <input #query type="text" (keyup.enter)="searchFunction(query.value)" />
  <button class="btn btn-primary"  (click)="searchFunction(query.value)">Search</button>
</div>
<h2 *ngIf="!forecasts"><em>No Results</em></h2>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Name</th>
      <th>Avatar</th>
      <th>Description</th>
      <th>BookMark</th>
    </tr>
  </thead>
  <tbody>
    <tr id="{{i}}"*ngFor="let forecast of forecasts; let i = index">
      <td id="{{i+100}}">{{ forecast.repoName }}</td>
      <td id="{{i+200}}"><img style="max-width: 25%" src="{{ forecast.avatar }}"></td>
      <td id="{{i+300}}">{{ forecast.description }}</td>
      <td id="{{i+400}}"><button class="btn btn-primary" (click)="bookmarkFunction(i)">Bookmark</button></td>
    </tr>
  </tbody>
</table>
